body {background: #ffffff url(../img/bg/bg2.jpg ) no-repeat center fixed;
			background-size:100% 100%}

.transparente{
opacity: 0.8;
-moz-opacity: 0.8;
filter: alpha(opacity=80);
-khtml-opacity: 0.8;
}